<div>

    <div id="developing" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">

            <p>开发中,敬请期待...</p>
        </div>
    </div>
    <div id="developingAlarm" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">

            <p>车辆有异常报警，系统通过微信，系统提示多方位报警通知</p>
        </div>
    </div>
    <div id="developingOffline" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">

            <p>车辆长期不上线时单独归类，方便客户单独关注</p>
        </div>
    </div>
    <div id="developingWarn" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">

            <p>异常车辆单独归类，方便客户重点关注.</p>
        </div>
    </div>
    <div id="developingWorkflow" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">

            <p>可以和客户系统对接，自动实现客户派单，公司安装完后，自动将结果同步给客户系统。</p>
            <p>前期人工派单，后续系统根据城市信息自动匹配派单</p>
        </div>
    </div>
    <div id="developingSim" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">
            <p>展示拨打次数很少，或者异地使用的sim卡，作为骗贷的一个重要指标</p>

            <p></p>
        </div>
    </div>
    <div id="developingReport" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">
            <p>上传车主信息，打造共享信用平台</p>

            <p></p>
        </div>
    </div>
    <div id="developingDanger" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">
            <p>车辆驶入重点监控区域时系统报警</p>

            <p></p>
        </div>
    </div>
    <div id="developingInformation" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">
            <p>发布资产处置信息，打造资产处置共享信息平台</p>

            <p></p>
        </div>
    </div>
    <div id="developingCreadit" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">
            <p>依托于车晓大数据，共享车主信用平台，查询贷款用户征信记录</p>

            <p></p>
        </div>
    </div>
    <div id="developingRepeatLoan" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">
            <p>根据车架号 VIA码,查看是否该车在其他公司也做了抵押</p>
        </div>
    </div>
    <div id="developingMoney" class="modal hide fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>开发中,敬请期待...</h3>
        </div>
        <div class="modal-body">
            <p>根据用户经常光顾的场所（如KTV，高档酒店）等分析用户消费能力</p>
        </div>
    </div>

</div>