<#assign base=request.contextPath />
<!-- Placed js at the end of the document so the pages load faster -->
<!-- BEGIN CORE PLUGINS -->
<script src="${base}/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="${base}/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="${base}/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="${base}/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="${base}/js/excanvas.min.js"></script>
<script src="${base}/js/respond.min.js"></script>
<![endif]-->
<script src="${base}/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="${base}/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="${base}/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="${base}/js/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="${base}/js/jquery.flot.js" type="text/javascript"></script>
<script src="${base}/js/jquery.flot.resize.js" type="text/javascript"></script>
<script src="${base}/js/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="${base}/js/date.js" type="text/javascript"></script>
<script src="${base}/js/daterangepicker.js" type="text/javascript"></script>
<script src="${base}/js/jquery.gritter.js" type="text/javascript"></script>
<script src="${base}/js/fullcalendar.min.js" type="text/javascript"></script>
<script src="${base}/js/jquery.easy-pie-chart.js" type="text/javascript"></script>
<script src="${base}/js/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="${base}/js/app.js" type="text/javascript"></script>
<script src="${base}/js/index.js" type="text/javascript"></script>
</body>
</html>
