<#assign base=request.contextPath />
<!-- Placed js at the end of the document so the pages load faster -->
<script src="${base}/js/jquery-1.10.2.min.js"></script>
<script src="${base}/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="${base}/js/jquery-migrate-1.2.1.min.js"></script>
<script src="${base}/js/bootstrap.min.js"></script>
<script src="${base}/js/modernizr.min.js"></script>
<script src="${base}/js/jquery.nicescroll.js"></script>

<!--Calendar-->
<script src="${base}/js/calendar/clndr.js"></script>
<script src="${base}/js/calendar/evnt.calendar.init.js"></script>
<script src="${base}/js/calendar/moment-2.2.1.js"></script>

<!--common scripts for all pages-->
<script src="${base}/js/scripts.js"></script>

<!--Dashboard Charts-->


</body>
</html>
