<#assign base=request.contextPath />
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>AdminX</title>

    <!--icheck-->
    <link href="${base}/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="${base}/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="${base}/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="${base}/js/iCheck/skins/square/blue.css" rel="stylesheet">


    <!--dashboard calendar-->
    <link href="${base}/css/clndr.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="${base}/js/morris-chart/morris.css">

    <!--common-->
    <link href="${base}/css/style.css" rel="stylesheet">
    <link href="${base}/css/style-responsive.css" rel="stylesheet">

    <link href="${base}/images/favor.png" rel="shortcut icon" >


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="${base}/js/html5shiv.js"></script>
    <script src="${base}/js/respond.min.js"></script>
    <![endif]-->
</head>
