<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xxl.app.base.dao.UserDao">
    <select id="getUserBeanById" parameterType="long" resultType="com.xxl.app.base.bean.UserBean">
        select * from t_user where id = #{id}
    </select>

    <select id="getAllUserBean"  resultType="java.util.HashMap">
        select * from t_user
    </select>
</mapper>